<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gophillygo.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- API 29+ -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Listen for reboot to set up geofences again -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Disable Crashlytics reporting here so it can be enabled in code as an opt-in -->
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <!-- Remove phone state and external storage permissions added by library import -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>

    <application
        android:name=".GoPhillyGoApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GpgAppTheme"
        android:value="GlideModule">
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:theme="@style/GpgAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts only the top-level URI "https://gophillygo.org” -->
                <data
                    android:host="gophillygo.org"
                    android:path="/"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.gophillygo.app.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.PlacesListActivity"
            android:label="@string/places_list_title"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.gophillygo.app.activities.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.PlaceDetailActivity"
            android:parentActivityName=".activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.PlacesListActivity" />
        </activity>
        <activity
            android:name=".activities.EventsListActivity"
            android:label="@string/events_list_title"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.gophillygo.app.activities.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.EventDetailActivity"
            android:parentActivityName=".activities.EventsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.EventsListActivity" />
        </activity>
        <activity
            android:name=".activities.PlacesMapsActivity"
            android:label="@string/title_activity_places_maps">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.gophillygo.app.activities.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.EventsMapsActivity"
            android:label="@string/title_activity_events_maps">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.gophillygo.app.activities.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/GpgDarkTextTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.GpgPreferenceActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/GpgDarkTextTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.GpgPreferenceActivity" />
        </activity>
        <activity
            android:name=".activities.GpgPreferenceActivity"
            android:label="@string/preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.AppInfoActivity"
            android:label="@string/title_activity_app_info"
            android:parentActivityName=".activities.GpgPreferenceActivity"
            android:theme="@style/GpgAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gophillygo.app.activities.GpgPreferenceActivity" />
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/api_keys.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Set up geofences again after reboot or location provider changes -->
        <receiver android:name=".tasks.AddRemoveGeofencesBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Listen to geofence transitions. -->
        <receiver
            android:name=".tasks.GeofenceTransitionBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.gophillygo.app.tasks.ACTION_GEOFENCE_TRANSITION" />
            </intent-filter>
        </receiver>

        <!-- search content provider -->
        <provider
            android:name=".GoPhillyGoContentProvider"
            android:authorities="org.gophillygo.app.provider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>